<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.lgzzk.dao.ManagerDao">

    <select id="queryManagerByName" parameterType="string" resultType="manager">
        <if test="name!=null and name!=''">
            select * from tb_manager where name = #{name}
        </if>
    </select>

</mapper>

